<div class="selectedTopic">
  <label for="topic-select">Konu Seç:</label>
  <select id="topic-select" [(ngModel)]="selectedTopic" (change)="onTopicChange()">
    <option *ngFor="let topic of topics" [value]="topic.key">{{topic.value}}</option>
  </select>
</div>

<div class="result" *ngIf="isChecked">
  ✅ <span class="correct-count">Doğru: {{correctCount}}</span> | 
  ❌ <span class="wrong-count">Yanlış: {{wrongCount}}</span> 
  <button (click)="resetQuiz()">🔄 Sıfırla</button>
</div>

<div *ngFor="let q of currentQuestions; let i = index" class="question-container"
    [ngClass]="{'correct': isChecked && q.selected === q.correct, 'wrong': isChecked && q.selected !== q.correct}">
  <p>{{i + 1 + currentSet * questionsPerSet}}.
    <span *ngFor="let w of q.question" class="tooltip" [title]="w.tr"> {{w.text}}  </span>
  </p>
  <label *ngFor="let opt of q.shuffledOptions">
    <input type="radio" [(ngModel)]="q.selected" [value]="opt.index" [name]="'question' + (i + currentSet * questionsPerSet)"> {{opt.option}}
  </label>
  <div class="explanation" *ngIf="isChecked">
    Doğru cevap: "{{q.options[q.correct]}}" - {{q.explanation}}
  </div>
</div>

<button class="checkBtn" (click)="checkAnswers()" *ngIf="!isChecked">Cevapları Kontrol Et</button>
<button class="checkBtn" (click)="nextSet()" *ngIf="isChecked && !isLastSet">Sonraki {{questionsPerSet}} Soru</button>
<div *ngIf="isChecked && isLastSet">
  <p>Quiz Tamamlandı!</p>
</div>